{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "no-console": "warn",
        "no-unused-vars": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    }
}
